<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Z2P Internal Dashboard</title>
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]> <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Z2P Internal Dashboard" />
    <meta name="keywords" content="Z2P Internal Dashboard" />
    <meta name="author" content="Z2P India" />
    <!-- Favicon icon -->
    <link rel="icon" href="{{ url_for('static', filename='assets/images/favicon.png')}}" type="image/x-icon" />
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet" />
    <!-- waves.css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/pages/waves/css/waves.min.css')}}" type="text/css" media="all" />
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/bootstrap/css/bootstrap.min.css')}}" />
    <!-- waves.css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/pages/waves/css/waves.min.css')}}" type="text/css" media="all" />
    <!-- themify icon -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/icon/themify-icons/themify-icons.css')}}" />
    <!-- Font Awesome -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/icon/font-awesome/css/font-awesome.min.css')}}" />
    <!-- scrollbar.css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/jquery.mCustomScrollbar.css')}}" />
    <!-- am chart export.css -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/style.css')}}" />
    <!-- Table Styling -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/DataTables/datatables.css')}}" />
  </head>

  <body>
    <!-- Pre-loader start -->
    <div class="theme-loader">
      <div class="loader-track">
        <div class="preloader-wrapper">
          <div class="spinner-layer spinner-blue">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
          <div class="spinner-layer spinner-red">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>

          <div class="spinner-layer spinner-yellow">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>

          <div class="spinner-layer spinner-green">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% block content %} {% endblock %}
  </body>
</html>
